*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image:url(/images/Free\ Photo\ _\ Top\ view\ over\ hotpot\ dishes.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border: 4px;
    height: 100vh;
   }
   body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.7) ;
    z-index: -1;
    pointer-events: none; 
   }
   .food-logo{
    
    margin: 0px;
    width: 17rem;
    height: 26%;
    margin-top: 1rem;
    padding: 0px;
    padding-top: 0px;
    border: hidden;
    justify-self: end;
   }
   .container{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 60%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    /* background-color: #191919; */
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-radius: 5%;
    align-content: center;
    gap: 1rem;
    
   }
   .input{
    height: 1.7rem;
   }
   .btn-sign{
    background-color: #F1662D;
    border: solid black;
    /* border-radius: 35%; */
    height: 2.5rem;
    color: white;
    cursor: pointer;
   }
   .btn-register{
    background-color: #F1662D;
    border: solid black;
    height: 2.5rem;
    /* border-radius: 40%; */
    color: white;
    cursor: pointer;
    
   }
   button:hover{
    background-color: #F34F1A;
    width: 100%;
    height: 2rem;
   }
   .content-width{
    width: 20rem;
   }
   .register-text{
    color: #F1662D;
    font-size: 3em;
   }
   /* .d-flex {
    display: flex;
    gap: 8rem;
    
   } */
    .hr{
        height: 1px;
        background-color: #F34F1A;
        
    }
   .text-color{
    color: white;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }